<%- layout("/layouts/Boilerplate.ejs") %>


    <h2 style = "margin-left: 20px"> All Listings</h2>
    <div class = "row row-cols-lg-4 row-cols-md-4 row-cols-sm-1">
        <% for(let listing of listings) { %>
            <a href = "/listings/<%= listing._id %>" style = "text-decoration: none;">
            <div class="card col" style="width: 19rem;">
                <img src="<%= listing.image %>" class="card-img-top" alt="listing_img" style = "height: 20rem">
                <div class="card-img-overlay">
                  </div>
                <div class="card-body">
                  <p class="card-text"><b><%= listing.title %></b></p>
                  <p class="card-text">₹ <%= listing.price.toLocaleString("en-IN") %></p>
                </div>
            </div>
            </a>
        <% } %>
    </div>
   


