<%- layout("/layouts/boilerplate") %>

<div class = "show-container" >
    <div>
        <img src = "<%= listing.image%>" height = "340px" width = "500px" style = "border-radius: 20px;">
    </div>
    
    <div style = "display: flex; flex-direction: column; gap: 2px; margin-top: 5px;">
        <b><%= listing.title %></b>
        ₹<%= listing.price.toLocaleString("en-IN") %> 
        <br>
        <br>
        <p style = "max-width: 600px"><%= listing.description%> </p>
    </div>
   
    
    <div style = "display: flex; gap: 10px;">
        <form method = "GET" action = "/listings/<%= listing._id %>/edit" >
            <button style = "background-color: rgb(248, 69, 99) !important; border: none; outline: none" class = "btn btn-primary">Edit this listing</button>
        </form>
        
        <form method = "POST" action = "/listings/<%= listing._id %>/delete" >
            <button class = "btn btn-primary" style = "background-color: black !important; border: none; outline: none">Delete this listing</button>
        </form>
    </div>
   
</div>
